.contact {
  &__inner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 280px;

    @include breakpoint(992px) {
      gap: unset;

      justify-content: space-around;
    }
    @include breakpoint(768px) {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      gap: 70px;

      text-align: center;
    }
  }

  &__form {
    width: 350px;

    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__input,
  &__textarea {
    padding: 15px 25px;

    width: 100%;

    border-radius: 30px;

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;

      color: #000000;
    }
  }

  &__textarea {
    resize: none;
    min-height: 180px;

    margin-bottom: 40px;
  }

  &__social {
    & .social__item {
      position: relative;

      padding-left: 66px;

      @include breakpoint(768px) {
        text-align: left;
      }

      & a {
        &::before {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          content: '';

          width: 50px;
          height: 50px;

          background-repeat: no-repeat;
          background-size: cover;
        }

        &.linkedin {
          &::before {
            background: url('../images/contact/linkedin.svg');
          }
        }

        &.telegram {
          &::before {
            background: url('../images/contact/telegram.svg');
          }
        }

        &.email {
          &::before {
            background: url('../images/contact/email.svg');
          }
        }
      }

      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }
}
