.intro {
  padding: 163px 0 100px;

  @include breakpoint(768px) {
    padding: 100px 0;
  }
  @include breakpoint(480px) {
    padding: 45px 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint(992px) {
      flex-direction: column;
      gap: 50px;
    }
  }

  &__block {
    max-width: 440px;

    @include breakpoint(992px) {
      max-width: 585px;
      text-align: center;
    }
  }

  &__title {
    font-size: 70px;
    line-height: 88px;

    margin-bottom: 50px;

    @include breakpoint(480px) {
      font-size: 45px;
      line-height: 45px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;

    @include breakpoint(480px) {
      flex-direction: column;
      gap: 10px;
    }
  }
}

.swiper {
  width: 340px;
  margin-right: unset;

  @include breakpoint(992px) {
    margin: 0 auto;
  }
  @include breakpoint(480px) {
    width: 270px;
  }
}
