.navigation {
  position: fixed;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);

  z-index: 20;

  display: none;

  @include breakpoint(768px) {
    display: flex;
  }

  justify-content: center;
  align-items: center;

  color: #000;
  background: #fff;

  border-radius: 30px;

  &__list {
    padding: 15px 0;

    display: flex;
    align-items: center;
    gap: 30px;

    @include breakpoint(480px) {
      padding: 10px 0;

      gap: 15px;
    }
  }

  &__text {
    pointer-events: none;
  }

  &__item {
    pointer-events: none;
  }

  &__link {
    pointer-events: all;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;

    text-align: center;

    &.active .navigation___img {
      background: $accent;
    }

    @include breakpoint(480px) {
      font-size: 16px;
      font-weight: 400;
    }
  }

  &___img {
    pointer-events: none;

    padding: 5px 10px;

    text-align: center;
    border-radius: 50px;

    margin-bottom: 5px;

    transition: all 0.3s linear;

    @include breakpoint(480px) {
      padding: 5px 0;
    }

    & img {
      pointer-events: none;

      padding: 5px 0;

      width: 32px;
      height: 42px;

      @include breakpoint(480px) {
        padding: 0;

        width: 25px;
        height: 32px;
      }
    }
  }
}
