.portfolio {
  &__inner {
    text-align: center;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 80px;
  }

  &__tabs {
    display: flex;
    justify-content: center;
    gap: 30px;

    margin-bottom: 50px;

    @include breakpoint(768px) {
      overflow-x: auto;
    }

    & .tabs__item {
      padding: 15px 43px;

      border: 3px solid #ffffff;
      border-radius: 30px;

      transition: all 0.3s ease-in-out;
      cursor: pointer;

      &.active {
        filter: drop-shadow(0px 4px 20px $accent);
        border-color: $accent;
      }
    }
  }

  &__content {
    & .content {
      &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;

        margin: 0 auto;
      }

      &__item {
        display: none;
        &.active {
          display: block;
        }
      }

      &__card {
        position: relative;
        max-width: 335px;

        &:hover {
          filter: drop-shadow(10px 10px 10px rgb(72, 113, 248, 0.25));

          .content__social {
            opacity: 1;
          }

          .content__title,
          .content__category,
          .content__img {
            filter: blur(2px);
          }
        }
      }

      &__img {
        transition: all 0.3s linear;
      }

      &__category {
        padding: 9px 22px;

        position: absolute;
        bottom: 95px;
        left: 20px;

        color: #000;
        background: #fff;
        border-radius: 40px;

        transition: all 0.3s linear;
      }

      &__title {
        position: absolute;
        bottom: 45px;
        left: 20px;

        font-family: 'Quicksand';
        font-weight: 700;
        font-size: 35px;

        transition: all 0.3s linear;
      }

      &__social {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 120px;

        display: flex;
        gap: 20px;

        opacity: 0;
        transition: all 0.3s linear;
      }
    }
  }
}
