.title {
  font-family: 'Quicksand';
  font-weight: 700;
  font-size: 60px;
  line-height: 64px;

  margin-bottom: 30px;

  @include breakpoint(768px) {
    font-size: 45px;
  }
  @include breakpoint(480px) {
    font-size: 35px;
    line-height: 35px;
  }
}
