.work {
  &__inner {
    max-width: 750px;

    margin: 0 auto;
    text-align: center;
  }

  &__text {
    font-weight: 400;

    letter-spacing: 1px;

    margin-bottom: 80px;
  }

  &__benefits {
    max-width: 440px;

    margin: 0 auto;
    text-align: left;

    & .benefits__item {
      position: relative;

      padding-left: 48px;

      font-size: 16px;
      line-height: 32px;

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      &::before {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        content: '';

        width: 32px;
        height: 32px;

        background: url('../images/check.svg');
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}
