<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__logo">
        <img src="assets/images/logo.svg" alt="logo" />
      </div>

      <nav class="header__nav">
        <ul class="header__list">
          <li class="list__item"><a href="#section-1" class="nav__link">Home</a></li>
          <li class="list__item"><a href="#section-2" class="nav__link">My work</a></li>
          <li class="list__item"><a href="#section-3" class="nav__link">About me</a></li>
          <li class="list__item"><a href="#section-4" class="nav__link">Portfolio</a></li>
          <li class="list__item"><a href="#section-5" class="nav__link">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- container -->
</header>
<!-- header -->
